body{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* common */



h4{
    font-size: 13px;
}
.button{
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    
}
div img{
    width: 100%;
}



/* header */


header{
    background-color: black;
}
header img{
    width: 80px;
}



/* nav */



.navigationbutton{
    background-color: grey;
    color: white;
}
.searchicon{
    font-size: 30px;
}



/* copertina */



.copertina{
    background-image:url(img/jumbo-bg.png);
    background-size: cover;
    /* background-attachment: fixed; */
    padding-top: 200px;
    padding-bottom: 200px;
    width: auto;
    background-repeat: no-repeat;

    background-position: center center
}
.shopbutton{
    background-color: orangered;
    color: white;
}


/* newestgame */



.newestgamebanner{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg)
}
.newestgamebanner{
    width: auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}
.bannerimage{
    width: 80%;
}



/* showcase */




.showcasebutton{
    background-color: blue;
    color: white;
}


.smallesttext{
    font-size: 12px;
    color: blue;
    margin-bottom: 0px;
}
.showcaseimage{
    width: 80%;
}

/* newgames */



.newgames{
    background-color: #1F1F1F;
    color: white;
}
.newgames img{
    border-radius: 20px;
}
.imgshowcase{
    border-radius: 20px;
}



/* exploreconsole */



.discoverbutton{
    background-color: blue;
    color: white;
}



/* playstationplus */



.playstationplus{
    background-color: #BEBCBB;
}
.pspluslogo{
    width: 250px;
}
.exploreplusbutton{
    background-color: #D9DADC;
    color: #2D64E6;
}



/* playstationnow */


.psnow{
    background-color: #161C3B;
    color: white;
}
.psnowlogo{
    width: 250px;
}
.explorenowbutton{
    background-color: #F5F5F5;
    color: black;
}



/* socialmedia */



.social img{
    width: 150px;
}



/* footer */



footer{
    background-color: #3167E6;
    color: white;
}
.footerplaylogo{
    height: 80px;
    width: auto;
    display: block;
    color: white;
}
.lenguageglobe{
    height: 20px;
    width: auto;
}
