body{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}



/* common */



.button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    
    
}
div img{
    width: 100%;
}
p{
    font-size: 25px;
}
h2{
    font-size: 35px;
}


/* header */


header{
    background-color: black;
}
header img{
    width: 80px;
}



/* nav */


.nav{
    position: fixed;
}
.navigationbutton{
    background-color: grey;
    color: white;
}
.searchicon{
    font-size: 30px;
}
.dropdown{
    position: initial;
}
.dropdown-menu{
    width: 100%;

}
.navlist{
    list-style: none;
}
.navtext{
    font-size: 12px;
    padding: 0px;
}



/* copertina */



.copertina{
    background-image:url(img/jumbo-bg.png);
    background-size: cover;
    /* background-attachment: fixed; */
    padding-top: 200px;
    padding-bottom: 200px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center top
}
.shopbutton{
    background-color: #CD3D0F;
    color: white;
}



/* gamesgrid */



.selectedgamecontainer{
    position: relative;
}
.selectedgame:hover{
    position: relative;
    bottom: 20px;
    
}
.selectedgame img:hover{
    border: none;
    outline: 3px solid #2D64E6;
    outline-offset: 3px;
}



/* newestgame */



.newestgamebanner{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg)
}
.newestgamebanner{
    width: auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}
.bannerimage{
    width: 80%;
}
.newestgamebanner h2{
    font-size: 45px;
}
.newestgamebanner p{
    font-size: 20px;
}
.shopbutton{
    border: 5px solid #CD3D0F;
}
.shopbutton:hover{
    box-shadow: inset black 0 0 0 5px;
    transition: box-shadow 0.3s ease-in-out;
}



/* showcase */




.showcasebutton{
    background-color: #2D64E6;
    color: white;
    border: 5px solid #2D64E6;
}
.showcasebutton:hover{
    box-shadow: inset white 0 0 0 5px;
    transition: box-shadow 0.3s ease-in-out;
}
.smallesttext{
    font-size: 12px;
    color: #2D64E6;
    margin-bottom: 0px;
}
.showcaseimage{
    width: 80%;
}
.showcasehover{
    opacity: 70%;
}
.showcasehover:hover{
    border-bottom: 3px solid #2D64E6;
    opacity: 100%;
}

/* newgames */



.newgames{
    background-color: #1F1F1F;
    color: white;
}
.newgames img{
    border-radius: 20px;
}
.imgshowcase{
    border-radius: 20px;
}



/* exploreconsole */



.discoverbutton{
    background-color: #2D64E6;
    color: white;
    border: 5px solid #2D64E6;
}
.discoverbutton:hover{
    box-shadow: inset white 0 0 0 5px;
    transition: box-shadow 0.3s ease-in-out;
}
.exploreconsole h2{
    font-size: 40px;
    font-weight: 500;
}
.exploreconsole h3{
    font-size: 25px;
}


/* playstationplus */



.playstationplus{
    background-color: #BEBCBB;
}
.pspluslogo{
    width: 250px;
}
.exploreplusbutton{
    background-color: #D9DADC;
    color: #2D64E6;
}
.exploreplusbutton:hover{
    border: none;
    outline: 3px solid #D9DADC;
    outline-offset: 5px;
}



/* playstationnow */


.psnow{
    background-color: #161C3B;
    color: white;
}
.psnowlogo{
    width: 400px;
}
.explorenowbutton{
    background-color: #F5F5F5;
    color: black;
    border: 5px solid #F5F5F5;
}
.explorenowbutton:hover{
    box-shadow: inset #161C3B 0 0 0 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.discoverbutton:hover{
    box-shadow: inset white 0 0 0 5px;
    transition: box-shadow 0.3s ease-in-out;
}
.psnow p{
    font-size: 24px;
}



/* socialmedia */



.social img{
    width: 150px;
}



/* footer */



footer{
    background-color: #3167E6;
    color: white;
}
.footerplaylogo{
    height: 80px;
    width: auto;
    display: block;
    color: white;
}
.lenguageglobe{
    height: 20px;
    width: auto;
}
